.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  flex: 0 0 auto;

  padding: 10px 12px;
  background-color: var(--primary-color);
}

.header__searchbox {
  min-width: 300px;
  max-width: 700px;
  font-size: 18px;
  line-height: 24px;
  transition: background 0.3s ease 0s;
  border: none;
  outline: 0;

  width: 50%;
  padding: 16px 35px 16px 35px;
  border-radius: 63px;
  background: #ebf1ff;
  cursor: pointer;
}

.header__searchbox:hover {
  background-color: #d6e3ff;
}

.header__searchbox::placeholder {
  color: rgb(105, 105, 105);
}

.header__basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  cursor: pointer;
}

.header__basket span {
  font-size: 1.05rem;
  font-weight: bold;
}
